# Environments
.env
.venv
env/
venv/
ENV/

# Playwright
test-results/

# SQLite
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/

# Flask
instance/
.webassets-cache
